@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700");

/*******************************************GENERAL STYLING*******************************************/
#body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-image: url("../assets/aditya-vyas-1162182-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

/*******************************************BUTTONS*******************************************/

#start,
#submit,
#restart,
#tut_submit,
#tut_start,
#tut_restart {
  border-radius: 25px;
  font-size: 1.4em;
}

#submit,
#tut_submit,
#restart,
#tut_restart {
  color: #fff;
  display: none;
}

#tut_submit,
#submit {
  background: green;
}

/*******************************************LOGIN*******************************************/

#login_container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 65vw;
}

.welcome {
  font-size: 4vw;
}

#version {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2.5vw;
  margin: 0;
}

/*******************************************GAME*******************************************/
#tut_container,
#game_container {
  height: 700px;
}

.game_header {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  max-width: 97vw;
  color: white;
}

#scoreDisplay {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  margin-bottom: 0;
  margin-left: 5px;
}

.tut_question,
.question {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
}

.container {
  max-width: 680px;
  margin: 0 auto;
}

.option,
.tut_option {
  border-radius: 25px;
  text-align: center;
  list-style: none;
  font-size: 1.4em;
  cursor: pointer;
  min-height: 50px;
  user-select: none;
}

.option:hover {
  color: #fff;
}

.correct {
  color: rgb(15, 255, 15) !important;
}

/*******************************************SCORE DISPLAY*******************************************/
.highscores,
.scores {
  width: 90%;
}

.scores_container,
.highscores_container {
  height: 700px;
}

.third {
  background-color: brown !important;
}

.round-info {
  margin-top: 20px;
  font-size: 2em;
}

.ranks {
  width: 400px;
}

.close {
  cursor: pointer;
  font-size: 2em;
}

#results_container {
  display: none;
  position: absolute;
  opacity: 0.93;
  width: 50vw;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 auto;
  z-index: 10000;
}

.game_stats {
  width: 100%;
  margin-top: 50px;
  padding-left: 20px;
  font-size: 1.5vw;
}

.game_stats span {
  float: right;
}

/*******************************************MEDIA QUERIES*******************************************/


@media only screen and (max-width: 1000px) {
  #scoreDisplay {
    position: initial;
  }

  .welcome {
    font-size: 5vw;
  }

  #version {
    font-size: 4.5vw;
  }

  .tut_question,
  .question {
    font-size: 3vw;
  }

  #login_container {
    width: 100vw;
  }

  .login {
    padding: 20px 50px;
  }

  #results_container {
    width: 75vw;
  }

}

@media only screen and (max-width: 768px) {
  #roundDisplay {
    margin: 0;
  }

  #results_container {
    width: 95vw;
  }

  .game_stats {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 474px) {
  .btn {
    font-size: 1.2em !important;
  }

  #scoreDisplay {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
  }

  .option {
    padding: 4px !important;
    font-size: 1.4em;
    min-height: 15px;
  }
}

@media only screen and (max-width: 460px) {
  .rank {
    font-size: 1em;
  }

  .round-info {
    font-size: 1em;
  }

  .tut_question,
  .question {
    font-size: 1.2em;
  }

  .welcome {
    font-size: 6vw;
  }

  #version {
    font-size: 5.5vw;
  }


}